footer{
    background-color: rgba(164, 186, 183, 1);
    width:100vw;
    height: 367px;
    font-family: Roboto Condensed;
    font-size: 20px;
}
.iconosFooter {
    gap: 200px;
    padding: 80px;
    margin-right: 75px;
}
.iconos-redes {
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
p {
    cursor: pointer
}
