nav {
    background-color: rgba(0, 65, 57, 1);
    width: 100vw;
    height: 86px;
    padding: 0;
}
.pacifico {
    font-family: 'Pacifico';
    font-size: 20px;
    color: white;
    cursor: pointer
}
.buscador {
    width: 340px;
    height: 50px;
    margin-top: 15px;
    margin-right: 180px;
    border-color: none;
    border-radius: 25px;
    font-family: Roboto Condensed;
    text-align: center
}
.iconosNav {
    gap:100px;
    margin-right: 156px;
    margin-left: 156px;
}
.icoNav{
    width: 231px;
    height: 84px;
    margin-right: 100px;
    cursor: pointer
}
.iconos{
    margin-top: 25px;
}
.iconos11 {
    cursor: pointer;
    margin-right: 40px;
}

.btn {
    background-color: rgba(0, 65, 57, 1);
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 4px;
}
.btn1 {
    width: 220px;
    background-color: rgba(0, 65, 57, 1);
    color: white;
    height: 50px;
    border-radius: 4px;
}

.perfil{
    margin-left: 45px;
    margin-top: 10px;

}
.profile{
    display: flex;
    align-items: start;
    border-bottom: solid 5px var(--main-color);
}
.options{

    align-items: center;
}
a{
    gap: 20px;
    font-family: pacifico;
    font-size: 20px;
    color: black;
    text-decoration: none;

}
.offcanvas{
    background-color: var(--footer-color);
    border: solid 5px var(--main-color);
}
.cart-count {
    color: white;
    font-family: Roboto Condensed;
    font-size: 13px;
}
@media screen and (max-width: 1297px){
    .icoNav {
        width: 200px;
        height: 68px;
    }
    .iconos{
        margin-right: 120px;
    }
}
@media screen and (max-width: 1330px){
    .icoNav {
        width: 200px;
        height: 68px;
    }
    .iconos{
        margin-right: 120px;
    }
}
@media screen and (max-width: 1320px){
    .icoNav {
        width: 200px;
        height: 68px;
    }
    .iconos{
        margin-right: 120px;
    }

}
@media screen and (max-width: 1180px){
    .icoNav {
        width: 200px;
        height: 68px;
    }
    .button{
        margin-right: 80px;
    }
}
@media screen and (max-width: 1160px){
    .icoNav {
        width: 200px;
        height: 68px;
    }
    .iconos{
        margin-right: 120px;
    }
}
@media screen and (max-width:  1132px){
    .icoNav {
        width: 200px;
        height: 68px;
    }
    .iconos{
        margin-right: 200px;
    }
}
@media screen and (max-width:  1159px){
    .icoNav {
        width: 200px;
        height: 68px;
    }
    .iconos{
        margin-right: 200px;
    }
    .buscador {
        display: none;
    }
    .iconos{
        position: absolute;
        right: 0;
        margin-right: 0;
    }
}

