nav {
    background-color: rgba(0, 65, 57, 1);
    width: 100vw;
    height: 84px;
    margin: 0;
}
.pacifico {
    font-family: 'Pacifico';
    font-size: 20px;
    color: white;
    cursor: pointer
}
.buscador {
    width: 340px;
    height: 50px;
    margin-top: 15px;
    margin-right: 180px;
    border-color: none;
    border-radius: 25px;
    font-family: Roboto Condensed;
    text-align: center
}
.iconosNav {
    gap:100px;
    margin-right: 70px;
}
.icoNav{
    width: 231pxs;
    height: 75px;
    margin-right: 100px;
    cursor: pointer
}
.iconos{
    gap: 40px;
    margin-top: 25px;
}
.iconos1 {
    cursor: pointer
}

.btn {
    background-color: rgba(0, 65, 57, 1);
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 4px;
}
.btn1 {
    width: 220px;
    background-color: rgba(0, 65, 57, 1);
    color: white;
    height: 50px;
    border-radius: 4px;
}
