<div class="d-flex" style="flex-direction: row;height: 40rem; margin-top: 4rem;">
    <div class="perfil" style="width: 20rem;">
        <div style="width: 4rem;height: 4rem;"><img src="{{user.foto}}" alt="P-Pic" ></div>
        <div class="d-flex"><p style="margin-right: 1.5rem;"> Nombre: </p>{{user.nombre}}</div>
        <div class="d-flex"><p style="margin-right: 1.5rem;"> Correo: </p> {{user.email}}</div>
        <div class="d-flex"><p style="margin-right: 1.5rem;"> Telefono: </p> {{user.telefono}}</div>
    </div>
    <div class="d-flex" style="justify-content:flex-end;">
      <div class="product_profile">
        <!-- <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Mis Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favoritos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Historial de Ventas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Historial de Compras</a>
            </li>
          </ul> -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-underline navig"  role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Mis Productos</button>
            </li>
            
            @if(estado){
              <li class="nav-underline navig" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Favoritos</button>
              </li>
            }
            <li class="nav-underline navig" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Historial de Ventas</button>
            </li>
            <li class="nav-underline navig" role="presentation">
              <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Historial de Compras</button>
            </li>
          </ul>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
              <div class="d-flex" style="padding: 3rem">
                @for (item of misproductos; track $index) {
                  <div class="card" style="width: 18rem; height: 24rem;" [routerLink]="['/producto',item._id]" (click)="reloadPage()">
                      <div style="overflow: hidden; min-height: 13rem;">
                          <a><img src="{{item.imagen[0]}}" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;"  [routerLink]="['/producto',item._id]"></a>
                      </div>
                      <div class="card-body">
                        <p class="card-text"  [routerLink]="['/producto',item._id]">{{item.prenda}}</p>
                        <p class="card-text">{{item.precio}}</p>
                      </div>
                    </div>
              }
              </div>

            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            2
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                3</div>
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                4</div>
          </div>

  
  
    </div>
    </div>
    

</div>
<div class="d-flex" style="justify-content: flex-end; margin-right: 30rem; margin-bottom: 5rem;"><button (click)="Addprenda()">Agregar Prenda</button></div>
    <div></div>






























<!-- -----------Boton de agregar------------------ -->
/* From Uiverse.io by mrhyddenn */
<button class="icon-btn add-btn">
    <div class="add-icon"></div>
    <div class="btn-txt btn-primary"type="button" data-bs-toggle="modal" data-bs-target="#exampleModa2">Agregar un producto</div>
</button>




<div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Diligencia este formulario para crear un nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formProduct" class="form">
              <span class="input-span">
                <label for="prenda" class="label">Prenda</label>
                <input formControlName="prenda" type="text" name="prenda" id="prenda"
              /></span>
              <span class="input-span">
                <label for="tipo" class="label">Tipo</label>
                <input formControlName="tipo" type="text" name="tipo" id="tipo"
              /></span>
              <span class="input-span">
                <label for="precio" class="label">Precio</label>
                <input formControlName="precio" type="text" name="precio" id="precio"
              /></span>
              <span class="input-span">
                <label for="estado" class="label">Estado</label>
                <input formControlName="estado" type="estado" name="estado" id="estado"
              /></span>
              <span class="input-span">
                <label for="marca" class="label">Marca</label>
                <input formControlName="marca" type="marca" name="marca" id="marca"
              /></span>
              <span class="input-span">
                <label for="imagen" class="label">Imagen</label>
                <input formControlName="imagen" type="text" name="imagen" id="imagen"
              /></span>
              <span class="input-span">
                <label for="descripcion" class="label">Descripcion</label>
                <input formControlName="decripcion" type="text" name="descripcion" id="descripcion"
              /></span>
              <span class="input-span">
                <label for="talla" class="label">Talla</label>
                <input formControlName="talla" type="text" name="talla" id="talla"
              /></span>
              <span class="input-span">
                <label for="owner" class="label">Owner</label>
                <input formControlName="owner" type="text" name="owner" id="owner"
              /></span>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn1" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" (click)="addProduct()" class="btn">Crear producto</button>
        </div>
      </div>
    </div>
  </div>

























