@if(!product){
    <div class="d-flex justify-content-center">
        <div class="images" style="width: 30%;">{{product.images}}</div>
        <div class="product_info-sec " style="width: 30%;">
            <div class="product" style="padding: 20px;">

                <div>Talla</div>
                <!-- <div>{{product.prenda}}</div> -->
                 <div><p>PRENDA.Nombre</p></div>
                <!-- <div>{{product.}}</div> -->
                 <div><p>Descripcion:</p></div>
                <div><p>Estado:</p></div>
                <div class="buttonsections" >
                    <button class="btn_addProduct">Agregar Producto</button><button aria-disabled="true" class="btn_trueque">Trueque</button>
                </div>
                
                <div class="about_seller" style="padding-top: 20px;">
                    <p>Del vendedor</p>
                    <div>
                        <img src="" alt="">
                        <p>Nombre del vendedor</p>
                    </div>
                </div>
            </div>
            
           
        </div>
        <hr>
        <div class="other_pro"></div>

    </div>
    
    
}