/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');

:root {
    --main-color: #004139;
    --footer-color: #A4BAB7;
    --accesorios-color: #914D76;
    --zapatos-color: #E08D79;
    --ropa-color: #EFF2C0;
    --background-color: #FFFFFF;
    --active-color:#000000;
    --base-letter-color:#A4BAB7;
    --novedades-background-color: #D9D9D9;
}

