.aparecer {
    display: none !important;
}
.aparecer1 {
    display: none !important;
}
.aparecer2{
    display: none !important;
}

.boton {
    padding: 10px 20px;
    font-size: 22px;
    color: black;
    font-family: 'Pacifico';
    cursor: pointer;
    margin-right: 70px;
}
.primera{
    background: none;
    border: none;
    border-bottom: 6px solid rgba(250, 248, 190, 1);
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.segunda {
    background: none;
    border: none;
    border-bottom: 6px solid  rgba(224, 141, 121, 1) ;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.tercera {
    background: none;
    border: none;
    border-bottom: 6px solid rgba(226, 173, 205, 1);
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.primera1 {
    position: relative;
    top: 35px;
    background-color:  rgba(250, 248, 190, 1);
    display: flex;
    padding: 42px;
    gap: 18px;
    opacity: 90%;
}
.segunda2{
    position: relative;
    top: 35px;
    background-color: rgba(224, 141, 121, 1);
    display: flex;
    padding: 42px;
    gap: 18px;
    opacity: 90%;
}
.tercera3 {
    position: relative;
    top: 35px;
    background-color: rgba(226, 173, 205, 1);
    display: flex;
    padding: 42px;
    gap: 18px;
    opacity: 90%;
}

p {
    font-family: Roboto Condensed;
    font-family: 16px;
}

.botones-item {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.botones-img {
    transition: transform 0.3s ease
}
.botones-item:hover .botones-img {
    transform: scale(1.1);
}

.botones-item:hover .botones-text {
    font-weight: bold;
}
.button-container {
    gap: 10px
}
