<div class="d-flex justify-content-center">
    <div class="button-container">
      <button class="hover-btn primera">ropa</button>
      <div class="image-container primera1">
        <img src="https://via.placeholder.com/150" alt="Imagen 1">
        <img src="https://via.placeholder.com/150" alt="Imagen 2">
        <img src="https://via.placeholder.com/150" alt="Imagen 3">
        <img src="https://via.placeholder.com/150" alt="Imagen 4">
        <img src="https://via.placeholder.com/150" alt="Imagen 5">
      </div>
    </div>

    <div class="button-container">
      <button class="hover-btn segunda">Zapatos</button>
      <div class="image-container segunda2">
        <img src="https://via.placeholder.com/150" alt="Imagen 1">
        <img src="https://via.placeholder.com/150" alt="Imagen 2">
        <img src="https://via.placeholder.com/150" alt="Imagen 3">
        <img src="https://via.placeholder.com/150" alt="Imagen 4">
        <img src="https://via.placeholder.com/150" alt="Imagen 5">
      </div>
    </div>

    <div class="button-container">
      <button class="hover-btn tercera">Accesorios</button>
      <div class="image-container tercera3">
        <img src="reloj.png" alt="Imagen 1">
        <img src="collar.png" alt="Imagen 2">
        <img src="gorra.png" alt="Imagen 3">
        <img src="maleta.png" alt="Imagen 4">
        <img src="bebes.png" alt="Imagen 5">
      </div>
    </div>
  </div>

