<div class="d-flex justify-content-center">
    <div class="button-container">
      <button class="hover-btn primera">Ropa</button>
      <div class="image-container primera1">
        <div>
            <img src="camisa-mujer.png" alt="Imagen 1">
            <p>Camisas</p>
        </div>
        <div>
            <img src="pantalon.png" alt="Imagen 2">
            <p>Pantalones</p>
        </div>
        <div>
            <img src="vestido.png" alt="Imagen 3">
            <p>Vestido</p>
        </div>
        <div>
            <img src="deportivo.png" alt="Imagen 4">
            <p>Deportivo</p>
        </div>
        <div>
            <img src="invierno.png" alt="Imagen 5">
            <p>Invierno</p>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="hover-btn tercera">Accesorios</button>
      <div class="image-container tercera3">
        <div>
            <img src="reloj.png" alt="Imagen 1">
            <p>Relojes</p>
        </div>
        <div>
            <img src="collar.png" alt="Imagen 2">
            <p>Joyeria</p>
        </div>
        <div>
            <img src="gorra.png" alt="Imagen 3">
            <p>Gorras</p>
        </div>
        <div>
            <img src="maleta.png" alt="Imagen 4">
            <p>Maletas</p>
        </div>
        <div>
            <img src="bebes.png" alt="Imagen 5">
            <p>Bebes</p>
        </div>
        <div>
            <img src="tenis.png" alt="Imagen 5">
            <p>Zapatos</p>
        </div>
      </div>
    </div>
  </div>

